﻿.sidebar {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    color:white;
}

    .sidebar.collapse {
        display: none;
    }

    .sidebar.expand {
        display: block;
    }

@media (max-width: 1199.98px) {
    .sidebar {
        display: none;
    }

    .sidebar.expand {
        position: fixed;
        top: 3.5rem;
        left: 0;
        height: auto;
        min-width: 100%;
        background-color: #fff;
        z-index: 1050;
    }
}

::deep .app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

::deep .app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

::deep .app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

::deep .app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: .25rem 1rem .25rem .125rem;
}

@media (max-width: 1199.98px) {
    ::deep .app-sidebar > .nav-pills > .nav-item:last-of-type {
        padding-bottom: 0;
    }
}