﻿@page "/dzialyprodukcji"
@inject HttpClient Http

@using System.Collections.Concurrent
@using System.Threading
@implements IDisposable
@inject Services.DepartmentService DepartmentService
@inject Services.EmployeeService EmployeeService
@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid @ref="@grid"
                Data="@Data"
                RowRemovingAsync="@OnRowRemovingAsync"
                RowUpdatingAsync="@OnRowUpdatingAsync"
                RowInsertingAsync="@OnRowInsertingAsync"
                InitNewRow="@OnInitNewRowAsync"
                KeyFieldName="@nameof(Department.ID)"
                AutoCollapseDetailRow="true"
                ShowDetailRow="true"
                SelectionMode="DataGridSelectionMode.None"
                PageSize="4">
        <Columns>
            <DxDataGridCommandColumn Width="120px" />
            <DxDataGridColumn Field="@nameof(Department.ID)" EditorVisible="false" />
            <DxDataGridColumn Field="@nameof(Department.Name)" />
        </Columns>
        <DetailRowTemplate Context="dataItem">
            <DxDataGrid DataAsync="@GetEmployessByDepartmentAsync(dataItem)"
                        SelectionMode="DataGridSelectionMode.None"
                        PageSize="5"
                        RowRemovingAsync="@OnRowRemovingEmployeeAsync"
                        RowUpdatingAsync="@OnRowUpdatingEmployeeAsync"
                        RowInsertingAsync="@OnRowInsertingEmployeeAsync"
                        InitNewRow="@OnInitNewEmployeeRowAsync">
                <DxDataGridCommandColumn Width="120px" />
                <DxDataGridColumn Field="@nameof(Employee.ID)" EditorVisible="false" />
                <DxDataGridColumn Field="@nameof(Employee.FirstName)" />
                <DxDataGridColumn Field="@nameof(Employee.Surname)" />
                <DxDataGridComboBoxColumn Caption="Department" Visible="false" EditorVisible="true" Field="@nameof(Exercise_01.Shared.Employee.DepartmentID)" DataAsync="@DepartmentService.GetDepartmentEditableAsync" ValueFieldName="@nameof(Exercise_01.Shared.Department.ID)" TextFieldName="@nameof(Exercise_01.Shared.Department.Name)" />
            </DxDataGrid>
        </DetailRowTemplate>
    </DxDataGrid>
}

@code {
        IEnumerable<Department> Data { get; set; }
        DxDataGrid<Department> grid;
        readonly ConcurrentDictionary<string, string> detailGridsLayoutCache = new ConcurrentDictionary<string, string>();
        IEnumerable<DataGridEditMode> EditModes { get; } = Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>();
        DataGridEditMode currentEditMode = DataGridEditMode.EditForm;
        DataGridEditMode CurrentEditMode
    {
            get => currentEditMode;
            set
        {
                if (currentEditMode != value)
                {
                    currentEditMode = value;
                    CancelEdit();
                }
            }
        }
    protected override async Task OnInitializedAsync()
    {
        Data = await DepartmentService.GetDepartmentEditableAsync();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var editableSupplier = Data.FirstOrDefault();
            //await grid.StartRowEdit(editableSupplier);
        }
    }


    public void test()
    {
        Console.WriteLine("test");
    }

    public Func<CancellationToken, Task<IEnumerable<Employee>>> GetEmployessByDepartmentAsync(Department department)
    {
        return GetEmployeeInviocesAsync;
        async Task<IEnumerable<Employee>> GetEmployeeInviocesAsync(CancellationToken cancellationToken)
        {
            return await GetEmployeesFromIDAsync(department);
        }
    }
    async public Task<IEnumerable<Employee>> GetEmployeesFromIDAsync(Department dataItem)
    {
        IEnumerable<Employee> employ = await EmployeeService.GetEmployeesEditableAsync();
        return employ.Where(o => o.DepartmentID == dataItem.ID);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //var firstemployyer = Data.FirstOrDefault();
            //grid.DetailRows.ExpandRow(firstemployyer?.ID);
        }
    }
    protected Action<IDataGridLayout> GetDetailsGridLayoutRestoringDelegate(Employee employee)
    {
        return (layout) =>
        {
            if (detailGridsLayoutCache.TryGetValue(employee.ID.ToString(), out string previousLayoutJson))
                layout.LoadLayout(previousLayoutJson);
        };
    }
    protected Action<IDataGridLayout> GetDetailsGridLayoutChangedDelegate(Employee employee)
    {
        return (layout) =>
        {
            var layoutJson = layout.SaveLayout();
            detailGridsLayoutCache.AddOrUpdate(employee.ID.ToString(), layoutJson, (id, layout) =>
            {
                return layoutJson;
            });
        };
    }
    void IDisposable.Dispose()
    {
        detailGridsLayoutCache.Clear();
    }



    async Task OnRowRemovingAsync(Department dataItem)
    {
        await DepartmentService.RemoveDepartmentAsync(dataItem);
        Data = await DepartmentService.GetDepartmentEditableAsync();
        StateHasChanged();
    }
    async Task OnRowUpdatingAsync(Department dataItem, IDictionary<string, object> newValues)
    {
        await DepartmentService.UpdateDepartmentAsync(dataItem, newValues);
        Data = await DepartmentService.GetDepartmentEditableAsync();
        StateHasChanged();
    }
    async Task OnRowInsertingAsync(IDictionary<string, object> newValues)
    {
        await DepartmentService.InsertDepartmentAsync(newValues);
        Data = await DepartmentService.GetDepartmentEditableAsync();
        StateHasChanged();
    }
    async Task OnInitNewRowAsync(Dictionary<string, object> values)
    {
        values.Add(nameof(Department.Name), "BOSS");
        await Task.CompletedTask;
    }
    void CancelEdit()
    {
        var cancelTask = Task.Run(async () => await grid.CancelRowEdit());
        cancelTask.GetAwaiter().GetResult();
    }
    async Task OnInitNewEmployeeRowAsync(Dictionary<string, object> values)
    {

        values.Add(nameof(Employee.FirstName), "John");
        values.Add(nameof(Employee.Surname), "Doe");
        values.Add(nameof(Employee.DepartmentID), "3");

        await Task.CompletedTask;
    }
    async Task OnRowRemovingEmployeeAsync(Employee dataItem)
    {
        await EmployeeService.RemoveEmployeeAsync(dataItem);
        StateHasChanged();
    }
    async Task OnRowUpdatingEmployeeAsync(Employee dataItem, IDictionary<string, object> newValues)
    {
        await EmployeeService.UpdateEmployeeAsync(dataItem, newValues);
        StateHasChanged();
    }
    async Task OnRowInsertingEmployeeAsync(IDictionary<string, object> newValues)
    {
        await EmployeeService.InsertEmployeeAsync(newValues);
        StateHasChanged();
    }
}
