﻿@page "/"
@inject HttpClient Http

@inject Services.EmployeeService EmployeeService
@inject Services.DepartmentService DepartmentService


@{
    <DxDataGrid @ref="@grid"
                DataAsync="@EmployeeService.GetEmployeesEditableAsync"
                RowRemovingAsync="@OnRowRemovingAsync"
                RowUpdatingAsync="@OnRowUpdatingAsync"
                RowInsertingAsync="@OnRowInsertingAsync"
                InitNewRow="@OnInitNewRowAsync"
                CssClass="w-100"
                PageSize="100"
                ShowPager="false"
                KeyFieldName="@nameof(Employee.ID)"
                EditMode="@CurrentEditMode">
        <DxDataGridCommandColumn Width="120px" />
        <DxDataGridColumn Field="@nameof(Employee.ID)" EditorVisible="false" />
        <DxDataGridComboBoxColumn Caption="Department" Field="@nameof(Exercise_01.Shared.Employee.DepartmentID)" DataAsync="@DepartmentService.GetDepartmentEditableAsync" ValueFieldName="@nameof(Exercise_01.Shared.Department.ID)" TextFieldName="@nameof(Exercise_01.Shared.Department.Name)" />
        <DxDataGridColumn Field="@nameof(Employee.FirstName)" />
        <DxDataGridColumn Field="@nameof(Employee.Surname)" />
    </DxDataGrid>
}

@code {
    DxDataGrid<Employee> grid;
    IEnumerable<DataGridEditMode> EditModes { get; } = Enum.GetValues(typeof(DataGridEditMode)).Cast<DataGridEditMode>();
    DataGridEditMode currentEditMode = DataGridEditMode.EditForm;
    DataGridEditMode CurrentEditMode
    {
        get => currentEditMode;
        set
        {
            if (currentEditMode != value)
            {
                currentEditMode = value;
                CancelEdit();
            }
        }
    }
    async Task OnRowRemovingAsync(Employee dataItem)
    {
        await EmployeeService.RemoveEmployeeAsync(dataItem);
        StateHasChanged();
    }
    async Task OnRowUpdatingAsync(Employee dataItem, IDictionary<string, object> newValues)
    {
        await EmployeeService.UpdateEmployeeAsync(dataItem, newValues);
        StateHasChanged();
    }
    async Task OnRowInsertingAsync(IDictionary<string, object> newValues)
    {
        await EmployeeService.InsertEmployeeAsync(newValues);
        StateHasChanged();
    }
    async Task OnInitNewRowAsync(Dictionary<string, object> values)
    {
        values.Add(nameof(Employee.FirstName), "John");
        values.Add(nameof(Employee.Surname), "Doe");
        await Task.CompletedTask;
    }
    void CancelEdit()
    {
        var cancelTask = Task.Run(async () => await grid.CancelRowEdit());
        cancelTask.GetAwaiter().GetResult();
    }
}
